<table class="table table-striped" id="configs">
	 <thead>
	 {%- for column in columns %}
		{% if (column in ('ID','Excluir')) %}
		 <th></th>
		{% else %}
		 <th>{{ column }}</th>
		{% endif %}
	 {%- endfor %}
	 </thead>
	 <tbody>
	 {%- for row in items %}
		<tr>
		{%- for column in columns %}
			{% if (column == 'ID') %}
				<td><input type="checkbox" class="custom-control-input" id="idConfig_{{ row[column] }}"></td>
			{% else %}
				{% if (column == 'Excluir') %}
					<td>
						<a id="btnDelete" name="btnDelete" onclick="confirmDelete({{ row[column] }})" class="btn btn-danger">Excluir</a>
					</td>
				{% else %}
					<td>{{ row[column] }}</td>
				{% endif %}
			{% endif %}
		{%- endfor %}
		</tr>
	 {%- endfor %}
	 </tbody>
</table>