<table class="table table-striped" id="cotacoesTR">
	 <thead>
	  {%- for column in columns %}
		 <th>{{ column }}</th>
	  {%- endfor %}
	 </thead>

	 <tbody>
	 {%- for row in items %}
		<tr>
		{%- for column in columns %}
			{% if (column in ("Diferença", "Percentual")) %}
				{% if (row[column].find("-") == -1) %}
					<td style="font-weight:bold; color: blue;" >{{ row[column] }}</td>
				{% else %}
					<td style="font-weight:bold; color: red;">{{ row[column] }}</td>
				{% endif %}
			{% else %}
				<td>{{ row[column] }}</td>
			{% endif %}
		{%- endfor %}
		</tr>
	 {%- endfor %}
	 </tbody>
</table>
<div class="container">
	<h3><b>Total Carteira</b></h3>
	<label>Investimento (com Taxas) (R$):&nbsp;</label><span>{{ tot_invest }}</span><br>
	<label>Total Cotação (R$):&nbsp;</label><span>{{ tot_cotacao }}</span><br>
	<label>Lucro / Prejuízo (R$):&nbsp;</label>
	{% if (dif_total.find("-") == -1) %}
		<span style="color: blue;">{{ dif_total }}</span>
	{% else %}
		<span style="color: red;">{{ dif_total }}</span>
	{% endif %}<br>
	<label>Diferença:&nbsp;</label>
	{% if (dif_percentual.find("-") == -1) %}
		<span style="color: blue;">{{ dif_percentual }} %</span>
	{% else %}
		<span style="color: red;">{{ dif_percentual }} %</span>
	{% endif %}
</div>