{% extends "base.html" %}

{% block content %}
    <div class="container_grafico">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% if error %}
                <div class="alert alert-danger" role="alert"><strong>Erro:</strong> {{ error }}</div>
            {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}