{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script>
	$(":checkbox").on("click", function(){
		if ( $(this).prop('checked') ){
			idSel = $(this).prop('id');
			$("#carteiraSel").prop('value', idSel);
			$.each($("input[type='checkbox']"), function(id , val){
				if ($(val).prop('id') != idSel){
					$(val).prop('checked', false);
				}
			});
		}
	});

	function confirmDelete(id){
		var ok = confirm("Deseja realmente excluir a ação da sua carteira?");
		if (ok == true) {
			$.ajax({
				url: '/traderexpert/removeracao/' + id,
				success: function(response){
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		}
    }

  </script>

{% endblock %}

{% block app_content %}
<h2><b>Minha Carteira</b></h2>

		<table class="table table-striped" id="users">
			 <thead>
			  {%- for column in columns %}
				{% if (column in ('ID','Excluir')) %}
				 <th></th>
				{% else %}
				 <th>{{ column }}</th>
				{% endif %}
			  {%- endfor %}
			 </thead>

			 <tbody>
			 {%- for row in items %}
				<tr>
				{%- for column in columns %}
					{% if (column == 'ID') %}
						<td><input type="checkbox" class="custom-control-input" id="idCart_{{ row[column] }}"></td>
					{% else %}
						{% if (column == 'Excluir') %}
							<td>
								<a id="btnDelete" name="btnDelete" onclick="confirmDelete({{ row[column] }})" class="btn btn-danger">Excluir</a>
							</td>
						{% else %}
							<td>{{ row[column] }}</td>
						{% endif %}
					{% endif %}
				{%- endfor %}
				</tr>
			 {%- endfor %}
			 </tbody>
		</table>
	<form action="" method="GET">
		{{ form.carteiraSel() }}
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}