{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
	<script>
		$(function() {
			setInterval(function() {
				$.ajax({
					url: '/traderexpert/cotacoesagrupadastr',
					type: 'GET',
					success: function(response){
						$("#resumoCotacoesAgrupadasTR").html(response);
					},
					error: function(xhr){
						alert('Request failed :' + xhr.responseText);
					}
				});
			}, 60000);
		})
	</script>
{% endblock %}

{% block app_content %}
<h2><b>Carteira Agrupada - Próximo do Tempo Real</b></h2>
	<div id="resumoCotacoesAgrupadasTR">
		{% include '_cotacoesAgrupadasTempoReal.html' %}
	</div>
	<a href="{{ url_for('main.index') }}" class="btn btn-default pull-right">Voltar</a>
{% endblock %}