{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script>
	$("#selecionar_periodo").on("click", function(){
		if ( $(this).prop('checked') ){
			$("#div_periodo").show();
		}else{
            $("#div_periodo").hide();
		}
	});
  </script>
{% endblock %}

{% block app_content %}

<h2><b>Histórico de Ações</b></h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.acao.label }}<br>
            {{ form.acao(size=5) }}<br>
            {% for error in form.acao.errors %}
                {% if (error != 'This field is required.') %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endif %}
            {% endfor %}
        </p>
        <p><input id="selecionar_periodo" name="selecionar_periodo" type="checkbox">
            <label for="selecionar_periodo">&nbsp;Selecionar Período?</label>
        </p>
        <div id="div_periodo" style="display:none;">
        <p>
            {{ form.data_inicial.label }}<br>
            {{ form.data_inicial(size=30) }}<br>
            {% for error in form.data_inicial.errors %}
                {% if (error != 'This field is required.') %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endif %}
            {% endfor %}
        </p>
        <p>
            {{ form.data_final.label }}<br>
            {{ form.data_final(size=30) }}<br>
            {% for error in form.data_final.errors %}
                {% if (error != 'This field is required.') %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endif %}
            {% endfor %}
        </p>
        </div>
        <p>{{ wtf.form_field(form.submit, class="btn btn-default pull-left") }}</p>
    </form>

{% endblock %}