{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
	<script>
		$(function() {
			setInterval(function() {
				$.ajax({
					url: '/traderexpert/cotacoestr',
					type: 'GET',
					success: function(response){
						$("#resumoCotacoesTR").html(response);
					},
					error: function(xhr){
						alert('Request failed :' + xhr.responseText);
					}
				});
			}, 60000);
		})
	</script>
{% endblock %}

{% block app_content %}
<h2><b>Carteira - Próximo do Tempo Real</b></h2>
	<div id="resumoCotacoesTR">
		{% include '_cotacoesTempoReal.html' %}
	</div>
{% endblock %}