{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script>

    function cacularValorTotal(){
        $("#valor_total").prop('value', '');
        $("#submit").prop('disabled', true);
        if ($("#valor_compra").prop('value') != '' &&
	        $("#quantidade").prop('value') != '' &&
	        $("#valor_taxas").prop('value') != ''){
            compra = parseFloat($("#valor_compra").prop('value').replace(',', '.'));
            quantidade = parseFloat($("#quantidade").prop('value').replace(',', '.'));
            taxas = parseFloat($("#valor_taxas").prop('value').replace(',', '.'));
            if (!isNaN(compra) && !isNaN(quantidade) && !isNaN(taxas)){
                total = (compra * quantidade) + taxas;
                $("#valor_total").prop('value', total.toString().replace('.', ','));
                $("#submit").prop('disabled', false);
            }
	    }
    }

	$("#valor_compra").on("blur", function(){
	    cacularValorTotal();
	});

	$("#quantidade").on("blur", function(){
	    cacularValorTotal();
	});

	$("#valor_taxas").on("blur", function(){
	    cacularValorTotal();
	});

  </script>
{% endblock %}

{% block app_content %}
    <h2><b>Manter Ações da Carteira</b></h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.acao.label }}<br>
            {{ form.acao(size=1) }}<br>
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=50, readonly=true) }}<br>
        </p>
        <p>
            {{ form.valor_compra.label }}<br>
            {{ form.valor_compra(size=20) }}<br>
            {% for error in form.valor_compra.errors %}
                {% if (error != 'This field is required.') %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endif %}
            {% endfor %}
        </p>
        <p>
            {{ form.quantidade.label }}<br>
            {{ form.quantidade(size=20) }}<br>
            {% for error in form.quantidade.errors %}
                {% if (error != 'This field is required.') %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endif %}
            {% endfor %}
        </p>
        <p>
            {{ form.valor_taxas.label }}<br>
            {{ form.valor_taxas(size=20) }}<br>
            {% for error in form.valor_taxas.errors %}
                {% if (error != 'This field is required.') %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endif %}
            {% endfor %}
        </p>
        <p>
            {{ form.data_compra.label }}<br>
            {{ form.data_compra(size=20) }}<br>
            {% for error in form.data_compra.errors %}
                {% if (error != 'This field is required.') %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endif %}
            {% endfor %}
        </p>
        <p>
            {{ form.valor_total.label }}<br>
            {{ form.valor_total(size=20, readonly=true) }}<br>
            {% for error in form.valor_total.errors %}
                {% if (error != 'This field is required.') %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endif %}
            {% endfor %}
        </p>

        <p>{{ wtf.form_field(form.submit, disabled=true, class="btn btn-default pull-left") }}</p>
    </form>
{% endblock %}